/1.test/work
/1.test/*.vhd.bak
/1.test/*.mpf
/1.test/*.wlf
*.vhd.bak

work
*.vhd.bak
*.mpf
*.wlf
*.vhd.bak
/2.ORgate/work
/2.ORgate/*.vhd.bak
/2.ORgate/*.mpf
/2.ORgate/*.wlf
*.vhd.bak

/**/work
/**/*.vhd.bak
/**/*.mpf
/**/*.wlf
/**/*.vhd.bak
/**/*.cr.mti
/**/*.vstf